@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F8;
}

body {
  background: var(--background);
  font-family: "Basier Circle";
  @apply max-h-screen overflow-hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}